<!-- templates/home.html -->
{% extends 'base.html' %}
{% load reports_tags %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="content">
    <div class="columns">
      <h1 class="title column is-3">Relatório Diário</h1>
      <div class="column">
        <a class="button is-primary is-outlined">
          <span>Imprimir</span>
        </a>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <div class="field">
          <div class="control">
            <input  style="text-align: center;" class="input" type="date" value="{{ desired_date|date:"Y-m-d" }}">
          </div>
        </div>
      </div>
    </div>

    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th style="text-align: center;">Dispositivo</th>
          <th style="text-align: center;">Temperatura (˚C)</th>
          <th style="text-align: center;">Horário</th>
        </tr>
      </thead>        
      <tbody>
        {% for report in reporting_list %}
        <tr>
          <td style="text-align: center;">{% get_device_name report.device_id report.email %}</td>
          <td style="text-align: center;">{{report.doublevalue}} ˚C</td>
          <td style="text-align: center;">{{report.ts}}</td>
        </tr>
        {% empty %}
        <tr>
          <td style="text-align: center;" colspan="3">
            Sem registros
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
  </div>
</div>
{% endblock %}
